<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="./Public/Admin/css/style.css">
<!--[if lt IE 9]>
<script src="./Public/Admin/js/html5.js"></script>
<![endif]-->
<script src="./Public/Admin/js/jquery.js"></script>
<script src="./Public/Admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<header>
 <h1><img src="./Public/Admin/images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="index.php?p=Home&c=Index&a=index" target="_blank" class="website_icon">网站首页</a></li>
  <li><a href="index.php?p=Admin&c=Ranking&a=index" target="_blank" class="website_icon">店铺排行</a></li>
  <li><a href="index.php?p=Admin&c=Login&a=logout" class="quit_icon">安全退出</a></li>
 </ul>
</header>
<!--aside nav-->
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <ul>
  <li>
   <dl>
    <dt><a href="index.php?p=Admin&c=Ranking&a=index">充值消费排行榜</a></dt>
    <dt><a href="index.php?p=Admin&c=Ranking&a=indexWaiter">服务之星排行榜</a></dt>
   </dl>
  </li>
  <li>
   <dl>
    <dt>员工管理</dt>
    <dd><a href="index.php?p=Admin&c=Admin&a=index" >员工管理列表</a></dd>
    <dd><a href="index.php?p=Admin&c=Admin&a=add">添加新员工</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>部门管理</dt>
    <dd><a href="index.php?p=Admin&c=Group&a=index">部门管理列表</a></dd>
    <dd><a href="index.php?p=Admin&c=Group&a=add">添加新部门</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>会员管理</dt>
    <dd><a href="index.php?p=Admin&c=Users&a=index">会员管理列表</a></dd>
    <dd><a href="index.php?p=Admin&c=Users&a=add">添加新会员</a></dd>
    <dd><a href="index.php?p=Admin&c=Order&a=index">顾客预约查询</a></dd>
    <dd><a href="index.php?p=Admin&c=Users&a=record">交易记录查询</a></dd>
    <dd><a href="index.php?p=Admin&c=Voucher&a=index">代金券查询列表</a></dd>
    <dd><a href="index.php?p=Admin&c=Voucher&a=add">发放代金券</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>店铺活动管理</dt>
    <dd><a href="index.php?p=Admin&c=Article&a=index">活动列表</a></dd>
    <dd><a href="index.php?p=Admin&c=Article&a=add">添加活动</a></dd>
    <dd><a href="index.php?p=Admin&c=Plans&a=index">套餐列表</a></dd>
    <dd><a href="index.php?p=Admin&c=Plans&a=add">添加套餐</a></dd>
   </dl>
  </li>
  <li>
   <p class="#">© DeathGhost.cn 版权所有</p>
  </li>
 </ul>
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
  <div class="page_title">
   <h2 class="fl">部门管理列表</h2>
   <a href="index.php?p=Admin&c=Group&a=add" class="fr top_rt_btn add_icon">添加新部门</a>
  </div>

  <table class="table">
   <tr>
    <th>部门编号</th>
    <th>部门名称</th>
    <th>操作</th>
   </tr>

   <?php foreach($group as $group):?>

   <tr>

    <td class="center"><?=$group['group_id']?></td>
    <td class="center"><?=$group['group_name']?></td>

    <td class="center">
     <a href="index.php?p=Admin&c=Group&a=edit&id=<?=$group['group_id']?>" title="修改该部门信息" class="link_icon" >&#118;</a>
     <a href="index.php?p=Admin&c=Group&a=delete&id=<?=$group['group_id']?>" title="删除该部门信息" class="link_icon">&#100;</a>
    </td>
   </tr>

   <?php endForeach;?>

  </table>
  <aside class="paging">
   <?=$page;?>
  </aside>
 </div>
</section>
</body>
</html>
