<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>转账(汇款)系统</h2>
<form action="index.php?p=Admin&c=Mysql&a=account" method="post">
    <p>转出账户:<input type="text" name="roll_out"/></p>
    <p>转入账户:<input type="text" name="shift_to"/></p>
    <p>转出金额:<input type="text" name="rollout_money"/></p>
    <p><input type="submit" value="确认转账" /></p>
</form>


<h2>账户实时余额</h2>
<table border="1">
    <tr>
        <th class="center">用户姓名</th>
        <th class="center">账户余额</th>
    </tr>

    <?php foreach($account as $account):?>
    <tr>
        <th><?=$account['userName']?></th>
        <th><?=$account['userMoney']?></th>
    </tr>
    <?php endForeach;?>

</table>

</body>
</html>