<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户修改</title>
</head>
<body>
<h2>编辑/修改用户信息</h2>
<form action="index.php?p=Admin&c=Users&a=edit" method="post">
    <input type="hidden" name="id" value="<?=$user['user_id']?>"/>
    用户账号：<input type="text" name="username" value="<?=$user['username']?>"/><br/>
    用户姓名：<input type="text" name="realname" value="<?=$user['realname']?>"/><br/>
    用户性别：<input type="radio" name="sex" value="男" <?=$user['sex'] == "男" ? "checked" : "";?>/>男
            <input type="radio" name="sex" value="女" <?=$user['sex'] == "女" ? "checked" : ""?> />女<br/>
    联系方式：<input type="tel" name="telephone" value="<?=$user['telephone']?>"/><br/>
    <input type="submit" value="提交/保存"/>
</form>
</body>
</html>