<!DOCTYPE HTML>
<html>
<head>
<title>后台登录</title>
<!-- Custom Theme files -->
<link href="./Public/Home/css/style_login.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="后台登录" />
<body>
<!--header start here-->
<div class="login-form">
			<div class="top-login">
				<span><img src="./Public/Home/images/group.png" alt=""/></span>
			</div>
			<h1>会员登录</h1>
			<div class="login-top">
			<form action="index.php?p=Home&c=Login&a=check" method="post">
				<div class="login-ic">
					<i ></i>
					<input type="text"  name="username" placeholder="会员用户名"/>
					<div class="clear"> </div>
				</div>
				<div class="login-ic">
					<i class="icon"></i>
					<input type="password"  name="password" placeholder="登录密码"/>
					<div class="clear"> </div>
				</div>
			
				<div class="log-bwn">
					<input type="submit"  value="Login" >
				</div>
				</form>
			</div>
</div>		
<!--header start here-->
</body>
</html>